@{
    ViewBag.Title = "Change Password";
}
<section class="page">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="title">
                    <h2>Your password has been changed.</h2>
                </div>
            </div>
        </div>
    </div>
</section>