@{
    ViewBag.Title = "Unauthorized";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="well">
                We're sorry, but the resource you are trying to access is for authorized view only. If you feel
                that you've received this message in error, please try contacting the administrator of the site.
            </p>
        </div>
    </div>
</div>